/*UNIVERSAL*/
*{
    margin:0;
    padding:0;
}

body{
    margin:0px;
    padding:0px;
    background-color:hsla(0,0%,93%,1);
background-image:
radial-gradient(at 0% 0%, hsla(274,13%,63%,1) 0px, transparent 50%),
radial-gradient(at 79% 15%, hsla(266,18%,54%,1) 0px, transparent 50%),
radial-gradient(at 47% 68%, hsla(256,15%,42%,0.64) 0px, transparent 50%),
radial-gradient(at 83% 36%, hsla(337,6%,85%,1) 0px, transparent 50%),
radial-gradient(at 78% 69%, hsla(0,0%,26%,0.68) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(355,0%,38%,1) 0px, transparent 50%);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}

ul{
    text-decoration:none;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:white;
     font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
}
a:visited{
    color:white;
}
p{
    color:white;
     font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal;
font-size:0.9em;
}
h1{
    color:white;
    text-align:center;
    font-family: "oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing:0px;
    font-size:2em;
}
h2{
    color:white;
     font-family: "oswald", sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing:0px;
font-size:1.5em;
}
h3{
    color:white;
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
font-size:1em;
text-align:center;
}
h4{
     color:white;
    font-family: "oswald", sans-serif;
font-weight: 300;
font-style: normal;
font-size:0.8em;
text-align:center;
}
i{
     color:hsl(281, 33%, 20%); 
     font-size:1.1em;
}

/* NAV */
nav{
    display:block;
    margin:20px auto;
    z-index:5;
    position:fixed;
    justify-content: space-around;
    width: 90vw;
    height:auto;
    padding: 5px 10px;

    /* Glassmorphism Core Properties */
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari support */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

    transition: 0.3s; 
}
.navbar{
   width:90vw;
   margin:20px auto;
}
.navItems{
    display:flex;
    flex-direction: row-reverse;
    float:right;
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: 1px;
}
#leftNavItem{
    float:left;
    font-weight:500;
    letter-spacing: 0.5px;
}
#maddyMarsh{
    font-size:1.1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/*HERO SECTION*/
.heroContainer{
    width:100vw;
    height:100vh;
    z-index:1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}




/*BUTTON TAGS*/
.filter{
    padding:4px 10px;
    margin:5px;
    font-size: small;
    border-radius:11px;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
     font-family: "oswald", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.buttonContainer{
    display:flex;
    justify-content: center;
}

#webButton{
    background-color:#9863b7;
}
#smButton{
    background-color:#864394;
}
#brandButton{
    background-color:#7f3b76;
}
#edButton{
    background-color:#65334D;
}
#vecButton{
    background-color:#492231;
}


/*WORK GRID*/
.gridContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap:1em;
    margin:1em;
}
.gridCol{
    display:flex;
    flex-direction:column;
    gap:1em;
}
.workImgs{
    object-fit:cover;
    max-width:100%;
    max-height:100%; 
    border-radius:20px;
}

/*FOOTER*/
footer{
    background-color:#3A363C;
    padding:1em 1.5em;
    margin-top:auto;
    margin:0;
}
.footerContainer{
    margin-top:auto;
    display: flex;
}
.footerText{
    color:white;
    font-size:small;
    text-align: right;
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
}
.contactButton{
    padding:4px 6px;
    margin-top:5px;
    font-size: medium;
    border-radius:11px;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    background-color:hsl(281, 33%, 20%);
    font-family: "oswald", sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing: 1px;
}
.footerContainer{
    display:block;
}
footer button{
    float:left;
}



/*CONTACT PAGE*/
#contactPage {
  min-height: calc(100vh - 133px);
  display: flex;
  flex-direction: column;
  padding-top: 8em;    
}

#contactPage footer{
    margin-top: calc(100vh - 650.5px)
}

.contactGridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;
}

.contactGridCol {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .contactGridContainer {
    grid-template-columns: 1fr;
    place-items:center;
  }
}


/* CONTACT FORM*/

form{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    width:35vw;
    height:fit-content;
    padding:1em;
    align-self:end;
}

.contactFormName{
    margin-top:0.5em;
}

input{
    border-radius:5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding:5px;
    color:hsl(281, 33%, 20%); 
    width:96%;
}
#name{
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
 color:hsl(281, 33%, 20%); 

}

#email{
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
 color:hsl(281, 33%, 20%); 
}

#message{
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing:0px;
    margin-right:2px;
    color:hsl(281, 33%, 20%); 
}

textarea{
    border-radius: 6px;
     border: 1px solid rgba(255, 255, 255, 0.3); 
     padding:5px;
     width:96%;
}
#submit{
    color:white;
    font-family: "oswald", sans-serif;
    text-align:center;
    font-size:0.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing:0px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    background-color:hsl(281, 33%, 20%);
    border-radius: 8px;
    padding:5px 6px;
    text-align:center;
    width:25%;
    margin:0 auto;
    display:block;
}
#submit:hover{
    cursor:pointer;
}

/* ABOUT PAGE*/

/*PROJECTS PAGES*/
.projectPages{
    padding-top:7em;
}
.projectContainer{
    display:grid;
    gap:1em;
    width:65%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:max-content;
    margin-bottom:1em;
}
.projectContainer img{
    max-width:100%;
    object-fit:cover;
    border-radius:20px;
    transition:transform 0.25s ease;
}
.projectContainer img:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.projectSteps{
    color:hsl(281, 33%, 20%); 
    grid-column:span 2;
    text-align:center;
    margin:1em auto 0.5em auto;
}

.projectProcessContainer{
    display:grid;
    gap:1em;
    width:65%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:max-content;
}
.projectProcessContainer img{
    max-width:100%;
    max-height:80%;
    object-fit:cover;
    border-radius:20px;
    justify-self:end;

}

/*LUCHA LIBRE*/
#llPoster{
    grid-row: span 2;
}