/*UNIVERSAL*/
*{
    margin:0;
    padding:0;
}

body{
    margin:0px;
    padding:0px;
    background-color:#d7d7d7;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}

ul{
    text-decoration:none;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:hsl(281, 33%, 20%);
     font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
}
a:visited{
    color:inherit;
}
p{
     color:hsl(281, 33%, 20%);
     font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal;
font-size:0.9em;
}
h1{
    color:hsl(281, 33%, 20%);
    text-align:center;
    font-family: "oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing:0px;
    font-size:2em;
}
h2{
    color:hsl(281, 33%, 20%);
     font-family: "oswald", sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing:0px;
font-size:1.5em;
text-align: center;
}
h3{
    color:hsl(281, 33%, 20%);
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
font-size:1em;
text-align:center;
}
h4{
     color:hsl(281, 33%, 20%);
    font-family: "oswald", sans-serif;
font-weight: 300;
font-style: normal;
font-size:0.8em;
text-align:center;
}
i{
      color:hsl(281, 33%, 20%);
     font-size:1.1em;
     margin-right:0.2em;
}
button{
    color:hsl(281, 33%, 20%);
    background-color:rgb(254, 254, 254);
     border-radius: 20px;
    border: 1px solid rgba(229, 228, 228, 0.8); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    padding:6px 12px;
    margin:5px;
}
button:active{
    background-color:rgb(248, 240, 255);
}
button:hover{
    transform: scale(1.09);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.contactButton{
font-weight:500;
font-size:1em;
}
.contactButton:hover{
    background-color:rgb(248, 240, 255);
}

/* NAV */
nav{
    position: fixed;
    top: 1em;
    left: 4em;
    right:4em;
    width:auto;
    z-index: 10;

    
    /* Glassmorphism Core Properties */
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari support */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

    transition: 0.3s; 
}
 nav ul{
    display:flex;
    align-items:center;
    width:100%;
 }
.navItems{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    font-family: "oswald", sans-serif;
     color:hsl(281, 33%, 20%);
font-weight: 400;
font-style: normal;
letter-spacing: 1px;
}
#leftNavItem{
    margin-right:auto;
    font-weight:500;
    letter-spacing: 0.5px;
}
#maddyMarsh{
    font-size:1.2rem;
}

nav a {
    color:hsl(281, 33%, 20%);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/*HERO SECTION*/
.heroContainer{
    width:100%;
    height:70vh;
    z-index:0;
    position: relative;
    transition: height 0.6s ease, width 0.6s ease;
}

.heroContainer video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 0.6s ease, width 0.6s ease;
    z-index:5;
}

.heroImg{
    width: 100vw;
    height:70vh;
}
.gradient-bg {
    position: absolute;
    inset: 0;
    z-index:0;

    will-change: transform;

    --x: 50%;
    --y: 50%;

    background:
      radial-gradient(circle at var(--x) var(--y),
        rgba(238, 226, 247, 0.5),
        transparent 50%
      ),
      radial-gradient(circle at 90% 70%,
        rgba(168, 140, 189, 0.5),
        transparent 50%
      ),
      radial-gradient(circle at 20% 70%,
        rgba(133, 117, 138, 0.5),
        transparent 50%
      );
  }
  .gradient-bg {
  animation: float 15s ease infinite;
}
/*ALERT*/
.alert{
    padding:1em;
    width:32%;
    margin:auto;
     background-color:hsl(280, 8%, 78%); 
     border-radius: 24px;
}
.alertCloseBtn{
    float:right;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s ease;

}

/*BUTTON TAGS*/
.filter{
    padding:6px 12px;
    margin:5px;
    font-size: 0.8em;
     font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.buttonContainer{
    display:flex;
    justify-content: center;
}


/*WORK GRID*/
.gridContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap:1em;
    margin:1em;
}
.gridCol{
    display:flex;
    flex-direction:column;
    gap:1em;
}
.workImgs{
    object-fit:cover;
    max-width:100%;
    max-height:100%; 
    border-radius:20px;
     box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}
.workImgs:hover{
     transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/*FOOTER*/
footer{
    background-color:hsl(281, 33%, 20%);
    padding:1em 1.5em;
    margin-top:auto;
    margin-bottom:0;
}
.footerText{
    color:white;
    font-size:small;
    text-align: right;
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
}

.footerContainer{
    display:block;
}
footer button{
    float:left;
}

/* ABOUT PAGE*/
.aboutPage{
    padding-top:8em;
}
.aboutGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap:1em;
    width:70%;
    margin:0 auto;

    grid-template-areas:
    "photo summary summary"
    "experience experience skills"
}
.box{
    background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 1.5rem;
  color: white;
}
.aboutImg{
     width:100%;
     height:100%;
     object-fit:cover;
     border-radius:16px;
}
.photo{
    grid-area:photo;
}
.summary{
    grid-area:summary;
}

/*  work expereince */
.experience{
    grid-area:experience;
}
.workDates{
    float:right;
}
.workDescription{
    font-size:small;
    color:hsl(281, 27%, 29%);
}
.aboutBullets{
    list-style-type: disc;

}
.aboutBullets li::marker{
    color:hsl(281, 27%, 29%);
}

.achievements{
    grid-area:achievements;
}

.skills{
    grid-area: skills;
}
.qa{
    grid-area:qa;
}

/*CONTACT PAGE*/
#contactPage {
  height: 80vh;
  padding-top: 8em;    
}


.contactGridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;
}

.contactGridCol {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .contactGridContainer {
    grid-template-columns: 1fr;
    place-items:center;
  }
}


/* CONTACT FORM*/

form{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    width:35vw;
    height:fit-content;
    padding:1em;
    align-self:end;
}

.contactFormName{
    margin-top:0.5em;
}

input{
    border-radius:5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding:5px;
    color:hsl(281, 33%, 20%); 
    width:96%;
}
#name{
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
 color:hsl(281, 33%, 20%); 

}

#email{
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0px;
 color:hsl(281, 33%, 20%); 
}

#message{
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing:0px;
    margin-right:2px;
    color:hsl(281, 33%, 20%); 
}

textarea{
    border-radius: 6px;
     border: 1px solid rgba(255, 255, 255, 0.3); 
     padding:5px;
     width:96%;
}
#submit{
    color:white;
    font-family: "oswald", sans-serif;
    text-align:center;
    font-size:0.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing:0px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    background-color:hsl(281, 33%, 20%);
    border-radius: 8px;
    padding:5px 6px;
    text-align:center;
    width:25%;
    margin:0 auto;
    display:block;
}
#submit:hover{
    cursor:pointer;
}
.contactInfoContainer{
line-height: 1.5em;
}
.contactInfoContainer a:hover{
    text-decoration: underline;
}


/*SIDEBAR NAV*/
aside{
    position:relative;
     background-color:hsl(280, 8%, 78%); 
}
.asideContainer{
    background-color:hsl(280, 8%, 78%); 
}
.sidebarContainer{
    padding:2rem 2rem 2rem 2rem;
    background-color:hsl(280, 8%, 78%); 
    border-radius: 24px 24px 0 0;
    width:fit-content;
}
.sidebar ul{
     color:hsl(281, 33%, 20%); 
     line-height: 1.5rem;

}

.active{
  color:rgb(122, 94, 130); 
}
.sidebarLink a:hover{
    text-decoration: underline;
}

#sidebar{
    position: absolute;
    left:0;
    z-index:9;
    bottom:6.5rem;

    transition: 0.3s ease-in-out;

  overflow: hidden;
  text-wrap:none;
  white-space: nowrap;
  height:fit-content;
}


/*  SIDEBAR CLOSED*/
#sidebar.close{
    opacity:0;
     pointer-events:none;
}
#sidebar.close ul{
    opacity:0;
    pointer-events:none;
}

#sidebarBttn {
  margin:0 0 2rem 2rem;
  position:absolute;  

  background: none;
  background-color: none;
  border: none;
  font-size:1.2rem;
  text-decoration: none;
  box-shadow:none;

  display: flex; 
  align-items: center;    

  transform: translateY(35%);
  padding:0;
  cursor: pointer;
  z-index: 10;
  
}

/*NEXTPREV*/
.nextPrevNav{
     background-color:hsl(280, 8%, 78%); 
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin:3rem 1rem auto 1rem;
     padding-top:2rem;
}

.prevBttn, .nextBttn{
    background:none;
    margin:1em;
    font-size: 1.5em;
    vertical-align: middle;
}
.prevBttn{
    padding-right:1.5rem;
}
.nextBttn{
    padding-left:1.5rem;
}









/*PROJECTS PAGES*/
.projectPagesGridContainer{
    display:grid;
    grid-template-columns: auto 1fr;
}

.rightProjectPage{
    position:relative;
    top:0;
    
}
.projectPages{
    padding-top:7em;
    min-height:81vh;
}
.projectContainer{
    display:grid;
    gap:1em;
    width:65%;
    height:min-content;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    margin-bottom:1em;
    align-content: start;
}

.projectContainer img{
    max-width:100%;
    display:block;
    object-fit:cover;
    border-radius:20px;
    transition:transform 0.25s ease;
}
.projectContainer img:hover{
     transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.projectInformation{
    margin-bottom:1em;
}

.projectSteps{
    color:hsl(281, 33%, 20%); 
    grid-column:span 2;
    text-align:center;
    margin:0.5em auto 0.5em auto;
}

.projectProcessContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:65%;
    margin:auto;
    margin-bottom:1em;
}
.processBlock{
  gap: 1em;
  margin:2em;
}
.processBlock img{
    margin-top:1em;
}
.projectProcessContainer img{
    max-width:100%;
    object-fit:cover;
    border-radius:20px;
    justify-self:end;
}
.projectEmbed{
   width:100%;
    height:80vh;
    grid-column: span 2;
    justify-self:center;
}
.projectEmbedWeb{
    grid-column: span 2;
    justify-self:center;
    width:100%;
    height:60vh;
}
.projectSingleImg{
     grid-column: span 2;
    width:50%;
    justify-self:center;
}
.soloPara{
    max-width:60%;
    margin: 1em auto;
}


/*CASE STUDIES*/
.caseStudyImgContainer{
    display:flex;
    gap:1em;
   justify-content: center;
   overflow-x: scroll;
   margin-bottom:5em;
}
.caseStudyImgContainer img{
    width:35%;
    height:auto;
    object-fit: cover;
}

.caseStudyImgContainerWR{
    display:flex;
    gap:2em;
   justify-content: center;
   overflow-x: none;
   margin-bottom:5em;
   
}
.caseStudyImgContainerWR img{
    width:30%;
    height:auto;
    object-fit: hidden;
}
.caseStudyImgContainerSolo{
    display:flex;
    gap:1em;
   justify-content: left;
   overflow-x: scroll;
   margin-bottom:5em;
}
.caseStudyImgContainerSolo img{
    width:80%;
    height:auto;
    object-fit: cover;
}

#WRGameday{
    width:55%;
}
#ecoHighlightMock{
    width:100%;
}

#upkeepVideo{
    max-width:100%;
    display:block;
    position:relative;
}
/*LUCHA LIBRE*/
#llPoster{
    grid-row: span 2;
}

/*BHG*/
#bhgEd{
    grid-column: span 2;
    max-width:50%;
    justify-self:center;
}
/*RS*/
#rsEd{
     grid-column: span 2;
    max-width:50%;
    justify-self:center;
}

/*MEDIA QUERIES*/ 
@media (max-width: 750px) {
    video{
        height: 100%;
    }
    .heroContainer{
        height:45vh;
    }
}


@media (max-width: 750px) {
    .gridContainer{
        grid-template-columns: repeat(1, 1fr);
        align-items:start;
    }

}

@media (max-width:750px){
    .aboutGrid{
         grid-template-areas:
    "photo photo skills"
    "experience experience experience"
    "summary summary summary"
    }
}

@media(max-width: 750px){
.projectProcessContainer{
    grid-template-columns: 1fr;
}
}

@media(max-width: 500px){
    nav{
        left:1em;
        right:1em;
    }
    .aboutGrid{
         grid-template-areas:
    "photo photo photo"
    "skills skills skills"
    "experience experience experience"
    "summary summary summary"
}
    #contactPage{
        height:100vh;
    }
    form{
        width:50vw;
    }

}